* {
    box-sizing: border-box;
  }
   html{
    scroll-behavior: smooth;
  } 
   
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  header{
    padding: 16px;
    position: sticky;
    top:0;
    background-color: #2d5bdaf3;
  }

  header nav>a{
    margin: 16px;
    color:rgb(231, 221, 208);
    text-decoration: none;
  
  }
  header nav>a:hover{
    color:rgb(250, 239, 225);
    font-weight: bold;
    
  }

  footer{
    padding: 8px;
    background-color: #304ea2;
    color:rgba(255, 245, 234, 0.4);
    text-align: center;
    border-top: 4px solid #172e6b;
  }

  .container {
    padding: 16px;
  }
  
  .container > section > h2 {
    text-align: center;
  }
  
  .intro {
    margin: -16px;
    padding: 16px;
    background-color: #1d1c1c;
    color: white;
    text-align: center;
  }
  
  #profile-image {
    height: 400px;
    width: 400px;
    border-radius: 16px;
  }
  
  .social-links img {
    height: 20px;
    width: 20px;
  }
  
  .social-links a {
    text-decoration: none;
    margin: auto 16px;
  }
  
  table,
  tr,
  td,
  th {
    border: 1px solid;
    border-collapse: collapse;
  }
  th,
  td {
    padding: 8px;
  }
  
  p {
    font-size: 1.5rem;
  }
  
  .dynamic-text-color {
    color: royalblue;
  }
  
  form#contact {
    max-width: 400px;
    margin: auto;
    padding: 16px;
    border: 1px solid;
    border-radius: 16px;
  }
  
  #contact label {
    display: block;
    font-weight: 600;
  }
  #contact input:focus, #contact textarea:focus{
    outline: 2px solid rgb(150, 251, 0);
    border: 2px;
  }
  #contact input,
  #contact textarea,
  #contact button {
    width: 100%;
    font-size: 1.2rem;
    padding: 8px;
  }

  #contact-me{
    margin-top:16px;
  }