* {
    box-sizing: border-box;
  }
  :root{
    scroll-behavior: smooth;

    --background-color: hsl(240deg 80% 100%);
    --secondary-color:hsl(229, 93%, 65%);
    --text-color: hsl(240deg 95% 8%);
    --intro-color:hsl(0, 0%, 85%);
    --shadow-color:hsl(255 10% 83%);
    --shadow-color-dark:hsl(255 10% 63%);

    --font-size-small:0.5rem;
    --font-size-regular:1rem;
    --font-size-large:1.5rem;
    --font-size-xl:2rem;

    --spacing-regular:1rem;
    --spacing-small:calc(var(--spacing-regular)/2);

  } 
   
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: var(--font-size-large);
  }

  header{
    padding: 16px;
    /* position: sticky; */
    position: static;
    top:0;
    background-color: #2d5bdaf3;
    z-index: 2;
    border: 1px solid;
  }
  
.h{
  padding: 16px;
  /* position: sticky; */
  position: static;
  top:0;
  background-color: #2d5bdaf3;
  z-index: 2;
  border: 1px solid;
}
.coco{
  z-index: 1;
}
  nav a{
    text-decoration: none;
    font-size: var(--font-size-regular);
  }

  header nav>a{
    margin-right: 16px;
    color:rgb(231, 221, 208);
    color:rgb(253, 145, 3);
    text-decoration: none;
    z-index: 1;
  
  }
  header nav>a:last-child{
    margin-right: revert;
  
  }
  header nav>a:hover{
    color:rgb(250, 239, 225);
    font-weight: bold;
    
  }
  /* nav a:visited{
    color: rgb(87, 98, 156);
  } */

  footer{
    padding: 8px;
    background-color: #304ea2;
    color:rgba(255, 245, 234, 0.4);
    text-align: center;
    border-top: 4px solid #172e6b;
  }

 section{
    scroll-margin-top: calc(100px - (2 * var(--spacing-regular))); ;
  }
  .container {
    padding: 16px;
  }

 
  .container > section > h2 {
    text-align: center;
  }
 
  
  .intro {
    margin: -16px;
    padding: 16px;
    /* background-color: #1d1c1c; */
    background-color: var(--intro-color);
  
    color: white;
    text-align: center;
  }
  
  #profile-image {
    height: 400px;
    width: 400px;
    border-radius: 16px;
    filter: drop-shadow(4px 8px 12px rgb(208, 215, 236))
  }
  
  .social-links img {
    height: 20px;
    width: 20px;
  }
  
  .social-links a {
    text-decoration: none;
    margin: auto 16px;
  }
  
  table,
  tr,
  td,
  th {
    border: 1px solid;
    border-collapse: collapse;
  }
  th,
  td {
    padding: 8px;
  }
  
  p {
    font-size: 1.5rem;
  }
  
  .dynamic-text-color {
    color: royalblue;
  }
  
  form#contact {
    max-width: 400px;
    margin: auto;
    padding: 16px;
    border: 1px solid;
    border-radius: 16px;
  }
  
  #contact label {
    display: block;
    font-weight: 600;
    font-size: var(--font-size-regular);
  }
  #contact input:focus, 
  #contact textarea:focus{
    outline: 2px solid rgb(150, 251, 0);
    border: 2px;
  }
  #contact input,
  #contact textarea,
  #contact button {
    width: 100%;
    font-size: 1.2rem;
    padding: 8px;
  }

  #contact-me{
    margin-top:16px;
  }

  #technologies .container{
    display:grid;
    /* grid-template-columns: repeat(3, minmax(300px,1fr)); */
    /* grid-template-columns: repeat(auto-fit,repeat(3, minmax(300px,1fr))); */
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    /* place-items: center; */
    gap:var(--spacing-regular);
    justify-content:center;
    justify-items: center;
   
    
  }
  .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    border: 1px solid var(--shadow-color);
    padding: var(--spacing-regular);
    box-shadow: 3px 3px 14px 5px var(--shadow-color);
    width:100%;
    border-radius: var(--spacing-regular);
    transition: transform 0.7s ease-in, box-shadow 0.5s ease-in-out;
  }
  
  .card:hover{
    box-shadow: 3px 3px 14px 12px var(--shadow-color-dark);
    transform:translateY(calc(-1 * var(--spacing-small)));

  }
  .card>header{
    text-align: center;
    /* padding:0; */
  }

  .card ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .mobile-nav, 
  section.menu {
    display:none;
  }


  @media (width<500px) {
    .default-nav{
      display:none;
    }
    .mobile-nav {
      display:revert;
    }
    #menu-button{
      display:block;
      background: transparent;
      border-radius: 8px;
      margin-left: auto;
    }
    section.menu{
      display:revert;
      height:0;
      width: 100%;
      overflow:hidden;
      position:fixed;
      top:0;
      Z-index:1;
      background-color:#2d5bdaf3 ;
      transition: height 0.7s;
    }
    section.menu nav{
      margin-top: 48px;
    }
    section.menu nav a{
      font-size: var(--font-size-large);
    }

    section.menu ul{
      list-style: none;
    }
    section.menu ul>li{
      /* padding-bottom: 8px; */
      margin-bottom: 8px;
    }
    section.menu ul>li>a{
      margin-right: 16px;
     
      color:rgb(231, 221, 208);
    }
    #close-menu{
      background: transparent;
      border-radius: 25%;
      position: absolute;
      right:16px;
      top:16px;
      font-size: x-large;
      border: none;
      
    }
  }

  @media(width<=450px){
    #profile-image{
      /* height: 250px; */
    /* width: 250px; */
    /* border-radius: 16px; */
    width:100%;
    }
  }

  @media(prefers-color-scheme:dark){
    body{
      --background-color: rgb(0, 0, 0);
      --text-color: rgb(198, 195, 195);
      --intro-color:hsl(0, 0%, 18%);

    }
  }